# here we are mentioning all ignore files of my project

# here ignore all .txt files
*.txt

# here not main.txt it tracks main.txt but not track remaning .txt files
!main.txt

# suppose if we want to ignore a folder then use "foldername/"
javascriptfiles/

